body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #343a40;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

/* Botão do criar */
.btn-create {
    background-color: transparent;
    color: #fcbf6b;
    border: 2px solid #ffc501;
    position: relative;
}

    .btn-create::after {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #ffc501;
        transition: width 0.3s ease;
        z-index: -1;
    }

    .btn-create:hover::after {
        width: 100%;
        border-radius: 0.25rem
    }

    .btn-create:hover {
        color: black;
    }

#paginacao .page-link {
    background-color: #343a40; /* fundo */
    color: #fff; /* texto */
    border: 1px solid #495057;
}

    #paginacao .page-link:hover {
        background-color: #495057;
        color: #fff;
    }

#paginacao .page-item.active .page-link {
    background-color: #fd7e14; /* azul bootstrap */
    border-color: #fd7e14;
    color: #fff;
}

/* Botão do editar */
.btn-edit {
    background-color: transparent;
    color: #ff7d10;
    border: 2px solid #eb6427;
    position: relative;
}

    .btn-edit::after {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #eb6427;
        transition: width 0.3s ease;
        z-index: -1;
    }

    .btn-edit:hover::after {
        width: 100%;
        border-radius: 0.25rem
    }

    .btn-edit:hover {
        color: black;
    }

/* Botão do deletar */
.btn-delete {
    background-color: transparent;
    color: #fcbf6b;
    border: 2px solid #fd7e14;
    position: relative;
}

    .btn-delete::after {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fd7e14;
        transition: width 0.3s ease;
        z-index: -1;
    }

    .btn-delete:hover::after {
        width: 100%;
        border-radius: 0.25rem
    }

    .btn-delete:hover {
        color: black;
    }

hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fd7e14 , rgba(0, 0, 0, 0));
}

h2 {
    color: #fd7e14;
    text-shadow: 1px 1px 2px #000000;
}

h1 {
    color: #fd7e14;
    text-shadow: 1px 1px 2px #000000;
}

.icone {
    color: #fd7e14;
    text-shadow: 1px 1px 2px #000000;
}

#link {
    position: relative;
    color: #fd7e14;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
}

    #link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #fd7e14;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }

    #link:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }